<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>
            Категория - {{ category.name }}
        </h1>
    </div>
    <div>
        {% for subcategory in subcategory_list %}
            <div>
                <ul>
                    <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>

</body>
</html>