<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>
            <p>
                Подкатегория - {{ subcategory.name }}
            </p>
        </h1>
    </div>

    <div>
        {% for product in products_list %}
            <div>
                <ul>
                    <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>

</body>
</html>